#analytics #loading {
	position: relative;
	top: 70px;
	width: auto;
	height: 50px;
	line-height: 20px;
	font-size: 12px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	background: url('../img/loading-analytics.gif') no-repeat center 20px;
	padding: 0;
}
#analytics_tooltip {
	position: absolute;
}
#analytics_tooltip #left {
	float: left;
	background: transparent url(../img/analytics.png) 0 0 no-repeat;
	height: 23px;
	width: 4px;
}
#analytics_tooltip #middle {
	float: left;
	background: #999 ;
	height: 25px;
	line-height: 25px;
	padding: 0 10px 0 10px;
	color: #fff;
	font-size: 11px;
	border-radius: 2px;
	cursor: pointer;
	font-weight: 300;
}
#analytics_tooltip #middle b {
}
#analytics_tooltip #right {
	float: left;
	background: transparent url(../img/analytics.png) -5px 0 no-repeat;
	height: 23px;
	width: 4px;
}
#analytics_tooltip #bttm {
	width: 100%;
	clear: both;
	background: transparent url(../img/analytics.png) -7px -1px no-repeat;
	height: 7px;
	width: 16px;
	position: relative;
	top: 0px;
	cursor: pointer;
}